langchain>=0.1.14
langgraph>=0.0.20
openai>=1.25.1
faiss-cpu>=1.7.4
langchain-community
tiktoken
python-docx
pytube
gTTS
langgraph
google-generativeai
youtube-transcript-api
unstructured
beautifulsoup4
assemblyai
requests
streamlit
fastapi
uvicorn
python-multipart
chromadb
pypdf
PyYAML
langchain-google-genai
langchain-groq
langchain-ollama
langgraph



